<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/Style/home.css">
    <title>Document</title>
</head>
<body>
        <div class="topnav">
                <a class="active" href="/User/home.html">Home</a>
                <a href="/Admin/AdminLogin.html">Admin</a>
              </div>
                    <h1>Add Teams</h1>
                    <div class="builder">
                        <ol class="household"></ol>
                        <form>
                            <div>
                                <label>Team Name
                                    <input type="text" name="TeamName">
                                </label>
                            </div>

                            <div>
                                <button class="add">add</button>
                            </div>
                            <div>
                                <button type="submit">submit</button>
                            </div>
                        </form>
                        <h1>Vote Tracker</h1>
                    </div>
    <!--
        Append Value to page
    -->
    <ul id="list">

    </ul>
</body>
<script src="/public/javascripts/admin.js"></script>
</html>