<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form>
        Usernames<input type="text" name="userid">
        Passwords<input type="password" name=pswrd>
        <input type="button" onclick="check(this.form)" value="Login"/>
    <input type="reset" value="Cancel"/>
    </form>
</body>
<script src="/public/javascripts/adminlogin.js"></script>
</html>