<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    
    <title>Document</title>
</head>
<body>
        <div class="topnav">
                <a class="active" href="/User/home.html">Home</a>
                <a href="/Admin/Admin.html">Admin</a>
              </div>
    <p>This is our thing!
    </p>
<form>
    <input type="radio" name="Team" value="TeamA"> Team A<br>
    <input type="radio" name="Team" value="TeamB"> Team B<br>
    <input type="radio" name="Team" value="TeamC"> Team C<br>
    <br>
    <button type="button" id="submit">Submit</button>
</form>
<p>
    
</p>
<script src="/javascripts/home.js"></script>
</body>
</html>